.input-patient::placeholder {
  position: relative;
  left: 10px;
}

.search-patient {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

/* .search-patient {
  display: inline-block;
  width: 90%;
} */

.search-patient .input-patient {
  width: 35.5% !important;
  height: 40px;
  background: var(--primaryColor);
  border: 1px solid #aaa;
  border-radius: 40px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search-patient .input-patient {
  text-indent: 32px;
}
.search-patient .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search-patient .fa-search {
  left: 12px;
  bottom: 50px !important;
}

.DYXVr {
  position: relative !important;
  bottom: 25px !important;
}

.td-file {
  display: flex;
}
